<div class="row">
    <h1>EDUCACION</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>CURSANDO #YO PROGRAMO ARGENTINA PROGRAMA 2022 - FINALIZADO #SEPROGRAMAR 2021</h2>
            </li>
        </ul>
        <ul>
            <li>
                <h2>CURSANDO TECNICATURA SUPERIOR EN DESARROLLO WEB Y APLICACIONES DIGITALES</h2><h3>2022</h3>
            </li>
        </ul>
        <ul>
            <li>
                <h2>CURSANDO FORMACION FRONT END - ALURA LATAM ORACLE ONE EDUCATION</h2><h3>2022</h3>
            </li>
        </ul>
        <ul>
            <li>
                <h2>CURSANDO BIG DATA - CODO A CODO</h2><h3>2022</h3>
            </li>
        </ul>
        <ul>
            <li>
                <h2>TECNICA EN ADMINISTRACION HOTELERA</h2><h3>2002</h3>
            </li>
        </ul>
        <ul>
            <li>
                <h2>SECUNDARIO: GESTION ADMINISTRATIVA</h2><h3>1999</h3>
            </li>
        </ul>

    </div>

</div>


