<div class="row">
    <h1>EXPERIENCIA LABORAL</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>ADMINISTRATIVA</h1><h3>2009 AL 2013</h3>
            </li>
            <p>TRABAJE EN EL AREA DE ADMINISTRACION, REALIZANDO FACTURACION DE VENTAS, ATENCION DE CLIENTES Y CONTROLES DE VENTAS.</p>
        </ul>
        <ul>
            <li>
                <h1>AUXILIAR ADMINISTRATIVO</h1><h3>2007 AL 2008</h3>
            </li>
            <p>TRABAJE EN POSICIONES ROTATIVAS EN AREAS TALES COMO CUENTAS CORRIENTES, CAJA DE AHORRO, CREDITOS, SECRETARIA Y ATENCION TELEFONICA.</p>
        </ul>
        <ul>
            <li>
                <h1>SECRETARIA</h1><h3>2006 AL 2007</h3>
            </li>
            <p>FUI SECRETARIA Y DESEMPENE TAREAS COMO ATENCION AL CLIENTE Y FACTURACION.</p>
        </ul>
        <ul>
            <li>
                <h1>PASANTIAS EN HOTEL SHERATON, HOTEL FELIPE II Y HOTEL DUCAL</h1><h3>2001 AL 2002</h3>
            </li>
            <p>REALICE MI PRACTICA EN HOTELERIA EN SECTORES COMO RECEPCION, EVENTOS Y ADMINISTRACION.</p>
        </ul>

    </div>

</div>

