<div class="row">
    <h1>HARD & SOFT SKILLS</h1>
        <div class="text-center col-sm-8 col-md-10 col-lg-12">
            <circle-progress
                [percent]="85"
                [radius]="80"
                [showUnits]="false"
                [title]="'INGLES'"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'lightgrey'"
                [innerStrokeColor]="'grey'"
                [animation]="true"
                [animationDuration]="300"
                [showSubtitle]="false"
                [imageSrc]="'../assets/inglesa.jfif'"
                [showImage]="true"
                [imageWidth]="65"
                [imageHeight]="65"
            ></circle-progress>
        

    
            <circle-progress
                [percent]="70"
                [radius]="80"
                [showUnits]="false"
                [title]="'FRANCES'"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'lightgrey'"
                [innerStrokeColor]="'grey'"
                [animation]="true"
                [animationDuration]="300"
                [showSubtitle]="false"
                [imageSrc]="'../assets/frances.jfif'"
                [showImage]="true"
                [imageWidth]="90"
                [imageHeight]="65"        
            ></circle-progress>
        

            <circle-progress
                [percent]="95"
                [radius]="80"
                [showUnits]="false"
                [title]="'ITALIANO'"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'lightgrey'"
                [innerStrokeColor]="'grey'"
                [animation]="true"
                [animationDuration]="300"
                [showSubtitle]="false"
                [imageSrc]="'../assets/italia.jfif'"
                [showImage]="true"
                [imageWidth]="85"
                [imageHeight]="85"
            ></circle-progress>

            <circle-progress
                [percent]="20"
                [radius]="80"
                [showUnits]="false"
                [title]="'ALEMAN'"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'lightgrey'"
                [innerStrokeColor]="'grey'"
                [animation]="true"
                [animationDuration]="300"
                [showSubtitle]="false"
                [imageSrc]="'../assets/aleman.jfif'"
                [showImage]="true"
                [imageWidth]="70"
                [imageHeight]="70"
            ></circle-progress>

            <circle-progress
                [percent]="100"
                [radius]="80"
                [showUnits]="false"
                [title]="'CASTELLANO'"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'lightgrey'"
                [innerStrokeColor]="'grey'"
                [animation]="true"
                [animationDuration]="300"
                [showSubtitle]="false"
                [imageSrc]="'../assets/espana.jfif'"
                [showImage]="true"
                [imageWidth]="73"
                [imageHeight]="73"
            ></circle-progress>   

            <circle-progress
                [percent]="70"
                [radius]="80"
                [showUnits]="false"
                [title]="'HTML5'"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'lightgrey'"
                [innerStrokeColor]="'grey'"
                [animation]="true"
                [animationDuration]="300"
                [showSubtitle]="false"
                [imageSrc]="'../assets/html5.png'"
                [showImage]="true"
                [imageWidth]="73"
                [imageHeight]="73"
            ></circle-progress>   

            <circle-progress
                [percent]="70"
                [radius]="80"
                [showUnits]="false"
                [title]="'CSS3'"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'lightgrey'"
                [innerStrokeColor]="'grey'"
                [animation]="true"
                [animationDuration]="300"
                [showSubtitle]="false"
                [imageSrc]="'../assets/css3.png'"
                [showImage]="true"
                [imageWidth]="55"
                [imageHeight]="55"
            ></circle-progress>  
            
            <circle-progress
                [percent]="70"
                [radius]="80"
                [showUnits]="false"
                [title]="'Javascript'"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'lightgrey'"
                [innerStrokeColor]="'grey'"
                [animation]="true"
                [animationDuration]="300"
                [showSubtitle]="false"
                [imageSrc]="'../assets/javascriptlogo.png'"
                [showImage]="true"
                [imageWidth]="63"
                [imageHeight]="63"
            ></circle-progress>   

            <circle-progress
                [percent]="90"
                [radius]="80"
                [showUnits]="false"
                [title]="'Trabajo en grupo'"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'lightgrey'"
                [innerStrokeColor]="'grey'"
                [animation]="true"
                [animationDuration]="300"
                [showSubtitle]="false"
                [imageSrc]="'../assets/grupo.jfif'"
                [showImage]="true"
                [imageWidth]="63"
                [imageHeight]="63"
            ></circle-progress>   
        </div>

</div>
